body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" the-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
  border: 4px solid #fffffe;
  border-radius: 10px;
  display: table-cell;
}

.the-slide {
 
}


.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #ff8e3c;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.693);
  fill: #ff8e3c;
  border-radius: 10px;
  margin: 5px;
}

.arrow--left {
  left: 5px;

}

.arrow--right {
  left: auto;
  right: 5px;
  color: #ff8e3c;
}

.arrow--disabled {
  fill: rgba(255, 252, 252, 0.437);
}
