.paper_category{
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  transition: 300ms;


}

.paper_category:hover {
  border: 3px solid #2cb67d;

}


.category_text {
  border: 2px solid #ffffff;
  padding: 1px;
  color: #F3EFE0;
  background-color: rgb(34, 34, 34, 0.9);
  border-radius: 10px;
  transition: 1s;
}

.category_text:hover {
  background-color: rgb(0, 0, 0);
  color: #2cb67d;
}

.main_body {
background-color: black;
}
.bg_home{
  background-image: url('../public/img/HomeBackground.jpg');
  background-size: cover;
  background-position: center;
}
